WHOAMI_HOST=whoami.localhost
TRAEFIK_HOST=traefik.localhost

LOGLEVEL=WARN
LOGFORMAT=common

ENABLE_DASHBOARD=false
INSECURE=true

ACME_EMAIL=mail@server.com
CA_SERVER=https://acme-v02.api.letsencrypt.org/directory
